<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body class="home-body">
    <div class="home-container">
      <div class="text-container">
        <% if (user) { %>

        <h1 class="main-header">
          Welcome to Chamaco's Coffee <%=user.username%>!
        </h1>

        <h3 class="subheader">Fresh roasted coffee delivered to your door!</h3>
      </div>
      <div class="auth-links">
        <p>
          <a class="subscription-link" href="/">Your Subscriptions</a>
          <a class="signout-link" href="/auth/sign-out">Sign Out</a>
        </p>
      </div>
      <div class="text-container">
        <% } else { %>
        <h1 class="main-header">Welcome to Chamaco's Coffee</h1>
        <h3 class="subheader">Fresh roasted coffee delivered to your door!</h3>
      </div>
      <div class="auth-links">
        <p>
          <a class="signup-link" href="/auth/sign-up">Sign Up</a>
          <a class="signin-link" href="/auth/sign-in">Sign In</a>
        </p>
        <% } %>
      </div>
    </div>
  </body>
</html>
